*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.html, body{
    width: 100%;
    height: 100%;
}

#minicircle{
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

#main{
    width: 100wh;
    height: auto;
    background-color: #000;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

/* .bounding{
    width: fit-content;
    overflow: hidden;
    background-color: red;
}

.bounding h1{
    transform: translateY(100%);
} */

#nav{
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#heading h1{
    font-size: 7.5vw;
    opacity: .6;
    font-size: 10vw;
    font-weight: 510;
    padding-left: 25px;
}

#heading #sech1 {
    margin-left: 230px;
}

.textblock{
    width: fit-content;
}

.textblock h5 {
    text-transform: uppercase;
    text-align: right;
    font-size: 13px;
}

#centerSection{
    margin-top: 100px;
    padding-right: 50px;
}

#centerSection h5{
    text-transform: uppercase;
    text-align: right;
    margin-top: 1vw;
    font-size: 1vw;
}

#footerhero {
    width: 100%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}


#footerhero a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#footerhero #icon{
    display: flex;
    gap: 5px;
}

#footerhero .circle{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #888;
}

#second{
    padding-right: 10vw;
    padding-top: 100px;
    width: 100%;
    background-color: #000;
}

.elem1 {
    width: 100%;
    height: 200px;
    position: relative;
    /* border-top: 1px solid #777; */
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    border-top: 1px solid #777;
}

.elem1 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem2 {
    width: 100%;
    height: 200px;
    position: relative;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    border-top: 1px solid #777;
}

.elem2 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem3 {
    width: 100%;
    height: 200px;
    position: relative;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    border-top: 1px solid #777;
}

.elem3 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem4 {
    width: 100%;
    height: 200px;
    position: relative;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    border-top: 1px solid #777;
}

.elem4 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem5 {
    width: 100%;
    height: 200px;
    position: relative;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    border-top: 1px solid #777;
}

.elem5 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elemlast {
    border-bottom: 1px solid #888;
    padding: 0 2vw;
}


.elem1 img{
    position: absolute;
    height: 100%;
    z-index: 999;
    display: none;
}

.elem2 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
} 

.elem3 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
}

.elem4 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
}

.elem5 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
}

#anchor{
    padding: 0 2vw;
    padding-left: 2vw;
}

#anchor a{
    color: #fff;
    padding-left: 2vw;
    padding: 12px 22px;
    border: 1px solid #888;
    border-radius: 100px;
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
}


#anchor a sup{
    opacity: .5;
}

#about{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10vw 10vw;
    padding-left: 40vw;
    background-color: #000;
    gap: 60px;
    color: #fff;
}

#about img{
    width: 200px;
}

#textabout{
    width: 80%;
}

#textabout h5{
    text-transform: uppercase;
    color: #fff;
    opacity: .7;
    margin-bottom: 10px;
    font-size: 12px;
    word-spacing: 5px; 
}

#textabout p {
    line-height: 1.7;
    margin-top: 30px;
}

#textabout a{
    color: #fff;
    padding: 12px 22px;
    border: 1px solid #888;
    border-radius: 100px;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
}

#subscribe{
    width: 100%;
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: #000;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: .7;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}

#footer{
    color: #fff;
    background-color: #000;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerleft{
    display: flex;
    gap: 20px;
    font-size: 14px;
}

#footerright{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

#footerright a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}