*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100wh;
    height: auto;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

#nav{
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#heading h1{
    font-size: 7.5vw;
    opacity: .6;
    font-size: 10vw;
    font-weight: 500;
}

#heading #sech1 {
    margin-left: 230px;
}

.textblock{
    width: fit-content;
}

.textblock h5 {
    text-transform: uppercase;
    text-align: right;
    font-size: 13px;
}

#centerSection{
    margin-top: 100px;
    padding-right: 50px;
}

#centerSection h5{
    text-transform: uppercase;
    text-align: right;
    margin-top: 1vw;
    font-size: 1vw;
}

#footerhero{
    width: 100%;
    padding: 0 2vw;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerhero a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#footerhero #icon{
    display: flex;
    gap: 5px;
}

#footerhero .circle{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #888;
}

#second{
    padding-right: 10vw;
    padding-top: 100px;
    width: 100%;
    background-color: #000;
}

.elem1 {
    width: 100%;
    height: 200px;
    position: relative;
    border-top: 1px solid #777;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem1 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elem2 {
    width: 100%;
    height: 200px;
    position: relative;
    border-top: 1px solid #777;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem2 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.elem3 {
    width: 100%;
    height: 200px;
    position: relative;
    border-top: 1px solid #777;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem3 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.elem4 {
    width: 100%;
    height: 200px;
    position: relative;
    border-top: 1px solid #777;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem4 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.elem5 {
    width: 100%;
    height: 200px;
    position: relative;
    border-top: 1px solid #777;
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem5 h1{
    height: 200px;
    text-transform: uppercase;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem1 img{
    position: absolute;
    height: 100%;
    z-index: 999;
    display: none;
}

.elem2 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
} 

.elem3 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
}

.elem4 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
}

.elem5 img{
    position: absolute;
    z-index: 999;
    height: 100%;
    display: none;
}